@model IEnumerable<NoTweak.Domain.Dish>


<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @item.Name
        </td>
        <td>
            @item.Price
        </td>

         <td>
            @Html.ActionLink("Edit", "Edit", "Dish", new { id = item.ID,source=@Html.ViewContext.HttpContext.Request.Path}, new { }) |
            @Html.ActionLink("Details", "Details", "Dish", new { id = item.ID }) |
            @Ajax.ActionLink("Delete", "Delete", "Dish", new { id = item.ID },
                new AjaxOptions { Confirm = "Delete Dish?", HttpMethod = "Post",
                                  UpdateTargetId = "divDishList"
                }) 
        </td>
    </tr>
}

</table>

