@using NoTweak.Domain;
@using System.Web.Mvc;
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>  

<h2>Details</h2>
<table>
<tr>
<td>@Model.Restaurant.Name</td>
</tr>
<tr>
<td>@Model.Restaurant.Address</td>
</tr>
<tr>
<td>@Model.Restaurant.Desc</td>
</tr>
</table>
<h3>Dishes</h3>
<p>
    @Html.ActionLink("Add New Dish", "Create", "Dish", new {restaurant=Model.Restaurant }, new { })
</p>
<div id="divDishList">
@Html.Action("ShowDishes", "Dish", new { dishes = Model.Dishes });
</div>


